<div
    class="blokus"
    phx-click="toggle" phx-window-keydown="move"
    >
   <%= for n <- 1..400 do %>
    <div
        phx-click="toggle" phx-value-index="<%= n %>"
        class="<%= if @selected == n, do: "selected" %>"
        ></div>
   <% end %>
</div>